@model AzureWebApp_SQL_Service.Controllers.ShowModel

@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<div>
    <h4>ShowModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <image src="@Model.URI"></image>
</div>
